@use './variables' as *;

@mixin on-tablet {
    @media (min-width: $tablet-min-width) {
        @content;
    }
}

@mixin on-small-desktop {
    @media (min-width: $small-desktop-min-width) {
        @content;
    }
}

@mixin on-large-desktop {
    @media (min-width: $large-desktop-min-width) {
        @content;
    }
}

@mixin shadow-box {
    box-shadow: $shadow-box;
    transition: $transition-hover;

    &:hover {
        box-shadow: $shadow-box-hover;
        scale: 1.05;
    }
}